In [4]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame

start = datetime.datetime(2021, 1, 1)

end = datetime.datetime(2022, 4, 17)

df = web.DataReader("AAPL", 'yahoo', start, end)

day_changes = []
day_changes.append(None)
for i in range(1,len(df)):
    day_changes.append(df['Open'][i] - df['Close'][i-1])

df['Change'] = day_changes

df.tail()

,High,Low,Open,Close,Volume,Adj Close,Change
Date,,,,,,,
2022-04-08,171.779999,169.199997,171.779999,170.089996,76515900.0,170.089996,-0.360001
2022-04-11,169.029999,165.500000,168.710007,165.750000,72246700.0,165.750000,-1.379990
2022-04-12,169.869995,166.639999,168.020004,167.660004,79265200.0,167.660004,2.270004
2022-04-13,171.039993,166.770004,167.389999,170.399994,70618900.0,170.399994,-0.270004
2022-04-14,171.270004,165.039993,170.619995,165.289993,75237500.0,165.289993,0.220001